#root {
  margin: 0 auto;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fruit-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 32px 0;
}